<a href="https://colab.research.google.com/github/fikriyaeka/Datamining/blob/master/Fikriya_Modul_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


NAMA : FIKRIYA EKA WAHYUNI

NIM : 192410101003

KELAS : Datamining C

**Praktikum 7 datamining Na√Øve bayes classification**

tugas
 

1.   ulangi langkah pada kode 1 untuk dataset iris dan adult. Masing masing gunakan perbandingan 0.2, 0.3, 0.4. tuliskan akurasinya
2.   untuk masing masing dataset carilah subset kombinasi dari attribut yang memberi hasil klasifikasi lebih baik dari data asli

[Modul 7](https://docs.google.com/document/d/1KYue5gV-91LEfgfbywawd4wRca9CFu89/edit)

In [ ]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [ ]:
#mengupload data iris.csv
from google.colab import files
fileIris = files.upload()

Saving iris.csv to iris.csv

In [ ]:
dfIris = pd.read_csv("iris.csv")
dfIris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [ ]:
#Mencari Data dan Target 
dataIris = dfIris.drop('variety',axis='columns')
target = dfIris.variety

In [ ]:
dataIris.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [ ]:
target.head()

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

In [ ]:
#Melakukan Training 
x_train,x_test,y_train,y_test = train_test_split(dataIris,target,test_size=0.2, random_state=100)
x_train1,x_test1,y_train1,y_test1 = train_test_split(dataIris,target,test_size=0.3, random_state=100)
x_train2,x_test2,y_train2,y_test2 = train_test_split(dataIris,target,test_size=0.4, random_state=100)

#Naive Bayes
model = GaussianNB()

In [ ]:
#Mencari Akurasi Data Test 0.2
model.fit(x_train,y_train)
print("Data Test 0.2 dengan Accuracy = {:.2f} \n".format(model.score(x_test,y_test)))

#Mencari Akurasi Data Test 0.3
model.fit(x_train1,y_train1)
print("Data Test 0.3 dengan Accuracy = {:.2f} \n".format(model.score(x_test1,y_test1)))

#Mencari Akurasi Data Test 0.4
model.fit(x_train2,y_train2)
print("Data Test 0.4 dengan Accuracy = {:.2f} \n".format(model.score(x_test2,y_test2)))

Data Test 0.2 dengan Accuracy = 0.97

Data Test 0.3 dengan Accuracy = 0.96

Data Test 0.4 dengan Accuracy = 0.97

In [ ]:
#Iris kombinasi antara (sepal lenght , sepal width, petal width )
dataIris = dataIris.drop('petal.length',axis='columns')
dataIris.head()

   sepal.length  sepal.width  petal.width
0           5.1          3.5          0.2
1           4.9          3.0          0.2
2           4.7          3.2          0.2
3           4.6          3.1          0.2
4           5.0          3.6          0.2

In [ ]:
#Melakukan Training 
x_train,x_test,y_train,y_test = train_test_split(dataIris,target,test_size=0.2, random_state=100)
x_train1,x_test1,y_train1,y_test1 = train_test_split(dataIris,target,test_size=0.3, random_state=100)
x_train2,x_test2,y_train2,y_test2 = train_test_split(dataIris,target,test_size=0.4, random_state=100)

#Naive Bayes
model = GaussianNB()


#Mencari Akurasi Data Test 0.2
model.fit(x_train,y_train)
print("Data Test 0.2 dengan Accuracy = {:.2f} \n".format(model.score(x_test,y_test)))

#Mencari Akurasi Data Test 0.3
model.fit(x_train1,y_train1)
print("Data Test 0.3 dengan Accuracy = {:.2f} \n".format(model.score(x_test1,y_test1)))

#Mencari Akurasi Data Test 0.4
model.fit(x_train2,y_train2)
print("Data Test 0.4 dengan Accuracy = {:.2f} \n".format(model.score(x_test2,y_test2)))

Data Test 0.2 dengan Accuracy = 0.97

Data Test 0.3 dengan Accuracy = 0.96

Data Test 0.4 dengan Accuracy = 0.97

In [ ]:
#Iris kombinasi antara ( sepal width, petal width )
dataIris = dataIris.drop('sepal.length',axis='columns')
dataIris.head()

   sepal.width  petal.width
0          3.5          0.2
1          3.0          0.2
2          3.2          0.2
3          3.1          0.2
4          3.6          0.2

In [ ]:
#Melakukan Training 
x_train,x_test,y_train,y_test = train_test_split(dataIris,target,test_size=0.2, random_state=100)
x_train1,x_test1,y_train1,y_test1 = train_test_split(dataIris,target,test_size=0.3, random_state=100)
x_train2,x_test2,y_train2,y_test2 = train_test_split(dataIris,target,test_size=0.4, random_state=100)

#Naive Bayes
model = GaussianNB()


#Mencari Akurasi Data Test 0.2
model.fit(x_train,y_train)
print("Data Test 0.2 dengan Accuracy = {:.2f} \n".format(model.score(x_test,y_test)))

#Mencari Akurasi Data Test 0.3
model.fit(x_train1,y_train1)
print("Data Test 0.3 dengan Accuracy = {:.2f} \n".format(model.score(x_test1,y_test1)))

#Mencari Akurasi Data Test 0.4
model.fit(x_train2,y_train2)
print("Data Test 0.4 dengan Accuracy = {:.2f} \n".format(model.score(x_test2,y_test2)))

Data Test 0.2 dengan Accuracy = 0.97

Data Test 0.3 dengan Accuracy = 0.96

Data Test 0.4 dengan Accuracy = 0.97

In [ ]:
#mengupload data Adult.csv
from google.colab import files
fileAdult = files.upload()

Saving adult baru.csv to adult baru.csv

In [ ]:
dfAdult = pd.read_csv("adult baru.csv")
dfAdult.head()

   age  workclass  fnlwgt  ... hours-per-week  native-country income
0   25    Private  226802  ...             40   United-States  <=50K
1   38    Private   89814  ...             50   United-States  <=50K
2   28  Local-gov  336951  ...             40   United-States   >50K
3   44    Private  160323  ...             40   United-States   >50K
4   18          ?  103497  ...             30   United-States  <=50K

[5 rows x 15 columns]

In [ ]:
# Menghapus data string

dfAdult.drop(['workclass','education','marital-status','occupation','relationship','race','native-country'],axis='columns',inplace=True)

In [ ]:
#Mencari Data dan Target 
dataAdult = dfAdult.drop('income',axis='columns')
target = dfAdult.income

In [ ]:
dataAdult.head()

   age  fnlwgt  educational-num  ... capital-gain  capital-loss  hours-per-week
0   25  226802                7  ...            0             0              40
1   38   89814                9  ...            0             0              50
2   28  336951               12  ...            0             0              40
3   44  160323               10  ...         7688             0              40
4   18  103497               10  ...            0             0              30

[5 rows x 7 columns]

In [ ]:
target.head()

0    <=50K
1    <=50K
2     >50K
3     >50K
4    <=50K
Name: income, dtype: object

In [ ]:
gender = pd.get_dummies(dataAdult.gender)
gender.head()

   Female  Male
0       0     1
1       0     1
2       0     1
3       0     1
4       1     0

In [ ]:
dataAdult = pd.concat([dataAdult,gender],axis='columns')
dataAdult.drop(['gender','Female'],axis='columns',inplace=True)
dataAdult.head(10)

   age  fnlwgt  educational-num  ...  capital-loss  hours-per-week  Male
0   25  226802                7  ...             0              40     1
1   38   89814                9  ...             0              50     1
2   28  336951               12  ...             0              40     1
3   44  160323               10  ...             0              40     1
4   18  103497               10  ...             0              30     0
5   34  198693                6  ...             0              30     1
6   29  227026                9  ...             0              40     1
7   63  104626               15  ...             0              32     1
8   24  369667               10  ...             0              40     0
9   55  104996                4  ...             0              10     1

[10 rows x 7 columns]

In [ ]:
#Melakukan Training 
x_train,x_test,y_train,y_test = train_test_split(dataAdult,target,test_size=0.2, random_state=100)
x_train1,x_test1,y_train1,y_test1 = train_test_split(dataAdult,target,test_size=0.3, random_state=100)
x_train2,x_test2,y_train2,y_test2 = train_test_split(dataAdult,target,test_size=0.4, random_state=100)

#Naive Bayes
model = GaussianNB()


#Mencari Akurasi Data Test 0.2
model.fit(x_train,y_train)
print("Data Test 0.2 dengan Accuracy = {:.2f} \n".format(model.score(x_test,y_test)))

#Mencari Akurasi Data Test 0.3
model.fit(x_train1,y_train1)
print("Data Test 0.3 dengan Accuracy = {:.2f} \n".format(model.score(x_test1,y_test1)))

#Mencari Akurasi Data Test 0.4
model.fit(x_train2,y_train2)
print("Data Test 0.4 dengan Accuracy = {:.2f} \n".format(model.score(x_test2,y_test2)))

Data Test 0.2 dengan Accuracy = 0.80

Data Test 0.3 dengan Accuracy = 0.80

Data Test 0.4 dengan Accuracy = 0.79

In [ ]:
# Adult (Age , educational-num , hours-per-week , gender )
dataAdult.drop(['fnlwgt','capital-gain','capital-loss'],axis='columns',inplace=True)
dataAdult.head()

   age  educational-num  hours-per-week  Male
0   25                7              40     1
1   38                9              50     1
2   28               12              40     1
3   44               10              40     1
4   18               10              30     0

In [ ]:
#Melakukan Training 
x_train,x_test,y_train,y_test = train_test_split(dataAdult,target,test_size=0.2, random_state=100)
x_train1,x_test1,y_train1,y_test1 = train_test_split(dataAdult,target,test_size=0.3, random_state=100)
x_train2,x_test2,y_train2,y_test2 = train_test_split(dataAdult,target,test_size=0.4, random_state=100)

#Naive Bayes
model = GaussianNB()


#Mencari Akurasi Data Test 0.2
model.fit(x_train,y_train)
print("Data Test 0.2 dengan Accuracy = {:.2f} \n".format(model.score(x_test,y_test)))

#Mencari Akurasi Data Test 0.3
model.fit(x_train1,y_train1)
print("Data Test 0.3 dengan Accuracy = {:.2f} \n".format(model.score(x_test1,y_test1)))

#Mencari Akurasi Data Test 0.4
model.fit(x_train2,y_train2)
print("Data Test 0.4 dengan Accuracy = {:.2f} \n".format(model.score(x_test2,y_test2)))

Data Test 0.2 dengan Accuracy = 0.80

Data Test 0.3 dengan Accuracy = 0.81

Data Test 0.4 dengan Accuracy = 0.81

In [ ]:
# Adult (Age , educational-num , gender )
dataAdult.drop('hours-per-week',axis='columns',inplace=True)
dataAdult.head()

   age  educational-num  Male
0   25                7     1
1   38                9     1
2   28               12     1
3   44               10     1
4   18               10     0

In [ ]:
#Melakukan Training 
x_train,x_test,y_train,y_test = train_test_split(dataAdult,target,test_size=0.2, random_state=100)
x_train1,x_test1,y_train1,y_test1 = train_test_split(dataAdult,target,test_size=0.3, random_state=100)
x_train2,x_test2,y_train2,y_test2 = train_test_split(dataAdult,target,test_size=0.4, random_state=100)

#Naive Bayes
model = GaussianNB()


#Mencari Akurasi Data Test 0.2
model.fit(x_train,y_train)
print("Data Test 0.2 dengan Accuracy = {:.2f} \n".format(model.score(x_test,y_test)))

#Mencari Akurasi Data Test 0.3
model.fit(x_train1,y_train1)
print("Data Test 0.3 dengan Accuracy = {:.2f} \n".format(model.score(x_test1,y_test1)))

#Mencari Akurasi Data Test 0.4
model.fit(x_train2,y_train2)
print("Data Test 0.4 dengan Accuracy = {:.2f} \n".format(model.score(x_test2,y_test2)))

Data Test 0.2 dengan Accuracy = 0.80

Data Test 0.3 dengan Accuracy = 0.80

Data Test 0.4 dengan Accuracy = 0.80